<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="INFO_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/nfxy/nfxy-manager/info.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">  
            <maxFileSize>10KB</maxFileSize>  
        </triggeringPolicy>  
		<encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
	</appender>
    
    <appender name="ACCESS_LOG"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/nfxy/nfxy-manager/access.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>access.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">  
            <maxFileSize>10MB</maxFileSize>  
        </triggeringPolicy>  
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    
	<root level="INFO">
		<appender-ref ref="INFO_LOG" />
	</root>

	<logger name="com.nfxy.manager.interceptor.AccessLogInterceptor" additivity="false">
		<appender-ref ref="ACCESS_LOG" />
	</logger>

</configuration>